<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Биология</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>


<body>
<div class= "header">
     <h1>Самое прекрасное в природе — отсутствие человека.</h1>
      <img src="https://smapse.ru/storage/2018/08/biologiya-na-anglijskom-v-moskve-1.jpg"  width="500" />
</div>
<div>
<h2>Биология</h2>
    <h2>Познавайте живой мир с нашими уроками по биологии. У нас можно найти материалы по клеточной биологии, генетике, эволюции и другим областям биологии.</h2>
</div>
<div class="navbar" > 

   <a href="https://www.youtube.com/playlist?list=PLvtJKssE5NrhGRY6oAXA17yUb1gwYCAtK" target="_blank">Обучающее плейлист на тему

   </a>