<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Литература</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>


<body>
<div class= "header">
     <h1>Литература рождается из глубины народной души.</h1>
     <img src="https://eos.hmtpk.ru/pluginfile.php/114658/course/overviewfiles/s1200.jpg"  width="600" />
       
</div>
<div>
<h2>Литература</h2>
    <h2>Исследуйте мир слов с нашими уроками по литературе. У нас вы найдете анализ произведений, биографии писателей и многое другое, что поможет вам понять и оценить художественные произведения.</h2>
</div>
<div class="navbar" > 

   <a href="https://www.youtube.com/playlist?list=PLvtJKssE5Nri1I9iQxE5S-4ceCVT48HFf" target="_blank">Обучающее плейлист на тему

   </a>