<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Математика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>


<body>
<div class= "header">
     <h1>Математика - царица наук!</h1>
      <img src="https://xn--47-kmc.xn--80aafey1amqq.xn--d1acj3b/images/events/cover/83a7a6beece313151cee44d933555a59_big.jpg" width="600" />
       
</div>
<div>
<h2>Математика</h2>
    <h2>На нашем сайте вы найдете уроки по алгебре, геометрии, тригонометрии и другим математическим дисциплинам. Мы также предлагаем курсы по подготовке к олимпиадам и экзаменам.</h2>
</div>
<div class="navbar" > 

   <a href="https://www.youtube.com/channel/UCm1InGz3mkIne_HIT8U9gJQ" target="_blank">Обучающее плейлист на тему

   </a>