<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уроки, курсы и материалы по различным предметам</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>


<body>
<div class= "header">
     <h1>Добро пожаловать на наш сайт с образовательным контентом</h1>
<p>Для доступа к "секретным" страницам, пожалуйста, авторизуйтесь</p>

    <img src="https://avatars.mds.yandex.net/get-mpic/4867510/img_id5891492587438914704.jpeg/orig" width="600" />
    
</div>

<div class="navbar" > 

<a href="login">Перейти на страницу авторизации</a>
<a href="math">Математика</a>
<a href="phis">Физика</a>
<a href="History">История</a>
<a href="lit">Литература</a>
<a href="Biology">Биология</a>

</div>

<div>
	<h5>Коротко о нас</h5>
	<h6>Коротко о нас,Март 9, 2024 </h6>
	<p>
 	<h2>Наш сайт предлагает широкий выбор уроков, курсов и материалов по различным предметам. Независимо от вашего уровня знаний и интересов, здесь вы обязательно найдете что-то полезное для себя.</h2>

        <h3>Мы стремимся создать доступную и интересную образовательную среду, где каждый может освоить новые знания, развить навыки и обогатить свой интеллект. Наши уроки позволят вам раскрыть свой потенциал и добиться успеха в учебе и карьере.</h3>

        <h4>Используйте наш сайт как инструмент для саморазвития, обучения и расширения кругозора. Мы уверены, что знания - это сила, и наша миссия - помочь вам стать успешным, образованным и уверенным в себе человеком.</h4>

	</p>
</div>


</body>
</html>