<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Физика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index1.css') }}">
</head>

<body>
<div class="header">
    <h1>Истина - это то, что выдерживает проверку опытом.</h1>
    <div class="carousel">
        <img src="https://fonoteka.top/uploads/posts/2022-02/1645275127_50-phonoteka-org-p-fon-dlya-proekta-po-fizike-51.jpg" width="500" />
        <img src="https://example.com/second-image.jpg" width="500" />
        <img src="https://example.com/third-image.jpg" width="500" />
    </div>
</div>
<div class="navbar">
    <a href="https://www.youtube.com/playlist?list=PLp1o4TiOetLyvtO0cf7H9PaQvxS-IujYt" target="_blank">Обучающее плейлист на тему</a>
</div>
</body>
</html>